@import "tailwindcss";

@theme {
	--font-rubik: "Rubik", sans-serif;
	--font-zalando-sans-expanded: "Zalando Sans Expanded", sans-serif;

	--color-brown-50: oklch(0.958 0.014 34.39);
	--color-brown-100: oklch(0.916 0.029 33.72);
	--color-brown-200: oklch(0.834 0.063 37.02);
	--color-brown-300: oklch(0.751 0.107 41.07);
	--color-brown-400: oklch(0.665 0.119 43.59);
	--color-brown-500: oklch(0.578 0.103 43.61);
	--color-brown-600: oklch(0.491 0.088 43.3);
	--color-brown-700: oklch(0.404 0.072 43.79);
	--color-brown-800: oklch(0.316 0.056 44.7);
	--color-brown-900: oklch(0.252 0.04 44.7);
	--color-brown-950: oklch(0.181 0.031 45.64);

	--drop-shadow-xxs: 0 1px 0;

	--animate-scroll: scroll 45s linear infinite;
	--animate-scrollReviews: scrollReviews 45s linear infinite;

	--breakpoint-xs: 30rem;

	@keyframes scroll {
		to {
			transform: translate(calc(-50% - 32px));
		}
	}
	@keyframes scrollReviews {
		to {
			transform: translate(calc(-50% - 12px));
		}
	}
}

html,
body {
	@apply bg-brown-50 text-brown-800 font-rubik overflow-x-hidden scroll-smooth selection:bg-brown-500/50;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
